.zigzag-header {
  position: relative;
  height: 100px;
  overflow: hidden;

  .zigzag-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
background: linear-gradient(to right, #060b23, #2932a5);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    z-index: 1;
  }

  .header-content {
    position: relative;
    z-index: 2;
    height: 25%;
    padding-top: 2rem;

    .nav-link {
      color: #ffffff;
      font-weight: 500;
      text-decoration: none;
      transition: 0.2s ease;

      &:hover {
        color: #ffefc5;
      }
    }
  }

  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.75rem;
      padding: 1rem;
    }
  }
}
