<div class="landing-page">
  <app-landing-header></app-landing-header>
  
  <app-hero-section></app-hero-section>
  
  <!-- <app-coverage-section></app-coverage-section> -->
  
  <div appScrollAnimate>
    <app-solutions-section></app-solutions-section>
  </div>
  
  <div appScrollAnimate>
    <app-protection-section></app-protection-section>
  </div>
  
  <!-- <app-integration-section></app-integration-section> -->
  
  <div appScrollAnimate>
    <app-features-section></app-features-section>
  </div>
  
  <div appScrollAnimate>
    <app-blog-section></app-blog-section>
  </div>
  
  <div appScrollAnimate>
    <app-landing-footer></app-landing-footer>
  </div>
</div>

