.app-footer {
  font-size: 0.85rem;
  color: #d8dee4;
  font-family: 'Segoe UI', sans-serif;
background: linear-gradient(to right, #060b23, #2932a5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: auto;
}
