.card {
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.06);
}

label {
  font-weight: 500;
}

input[disabled] {
  background-color: #f5f5f5;
  font-style: italic;
}

.fw-bold {
  font-weight: bold;
}
