<section class="solutions-section">
  <div class="container">
    <div class="solutions-grid stagger-children">
      <div *ngFor="let solution of solutions" class="solution-card">
        <div class="solution-icon">
          <i [class]="'bi ' + solution.icon"></i>
        </div>
        <h3>{{ solution.title }}</h3>
        <p>{{ solution.description }}</p>
      </div>
    </div>
    
    <div class="testimonials-grid stagger-children">
      <div *ngFor="let testimonial of testimonials" class="testimonial-card">
        <div class="rating">
          <i *ngFor="let star of [1,2,3,4,5]" class="bi bi-star-fill"></i>
        </div>
        <p>{{ testimonial.text }}</p>
      </div>
    </div>
  </div>
</section>

