.service-config-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

  .service-box {
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    background-color: #f8f9fa;
  }

  label {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  input {
    font-size: 0.95rem;
  }

  @media (max-width: 576px) {
    .text-end {
      text-align: center !important;
    }
  }
}
