.service-config-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);

  label {
    font-weight: 500;
  }

  input {
    font-size: 0.95rem;
  }

  tr:hover {
    background-color: #e9f5ff;
  }

  @media (max-width: 576px) {
    .text-end {
      text-align: center !important;
    }
  }
}
