.main-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  app-header {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(182deg, #FFF 1.49%, var(--brand-100, #D6DEFF) 98.51%);
  }

  app-footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
}
