<h2 mat-dialog-title>
  {{ data.mode === 'edit' ? 'Edit Tenant' : 'Register Tenant' }}
</h2>

<mat-dialog-content [formGroup]="tenantForm" class="d-flex flex-column gap-3">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Emergency Phone</mat-label>
    <input matInput formControlName="emergencyPhone" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Flat Assigned</mat-label>
    <input matInput formControlName="flatAssigned" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Flat Rent (₹)</mat-label>
    <input matInput formControlName="rentAmount" type="number" class="text-end" />
  </mat-form-field>

  <div class="services-section d-flex flex-wrap gap-2">
    <label>Services Availed:</label>
    <div formGroupName="services">
      <mat-checkbox *ngFor="let service of availableServices" [formControlName]="service">
        {{ service }}
      </mat-checkbox>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Total Rent (₹)</mat-label>
    <input matInput formControlName="totalRent"  class="text-end" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rent Start Date</mat-label>
    <input matInput formControlName="rentStartDate" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Overdue Amount (₹)</mat-label>
    <input matInput formControlName="overdueAmount" type="number" class="text-end" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Security Deposit (₹)</mat-label>
    <input matInput formControlName="securityDeposit" type="number" class="text-end" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Save</button>
</mat-dialog-actions>
