

<!-- Services Section -->
<section class="services-section text-center">

  <div class="row justify-content-center g-4 px-3 mt-4">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let card of serviceCards">
      <div class="feature-card" [ngClass]="card.bgClass" [routerLink]="card.link">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span class="skill-number">{{ card.number }}</span>
          <i class="{{ card.icon }} icon-right"></i>
        </div>
        <div class="card-body text-start">
          <h5 class="skill-title">{{ card.title }}</h5>
          <small class="skill-desc">{{ card.desc }}</small>
        </div>
        <div class="card-footer">
          <span>Start Now</span>
          <i class="bi bi-arrow-right-short fs-4"></i>
        </div>
      </div>
    </div>
  </div>
</section>
